
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

header {
    display:flex;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

} 

a {
    color: rgb(226, 225, 225);
    text-decoration: none;
}

a:hover {
    opacity: 1;
}
  
a::before {
    transition: 300ms;
    height: 1px;
    content: "";
    position: absolute;
    background-color: white;
}
  
a::before {
    height: 0%;
    width: 8px;
    bottom: 0px;
}
  
a:hover::before {
    height: 1px;
}
    

body {
    color: white;

}

#background-video {
    width: 100vw;
    height: 110vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#header-text {
    /* display: flex; */
    position: fixed;
    top: 45%;
    left: 10%;
    animation: 1s anim-lineUp ease 0s normal forwards 1 running;
    /* animation: 2s anim-lineUp ease-out infinite; */
    /* font-size: 30px; */
 }

 @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


 #dots {
    height: 50px;
 }

 main {
    display: flex;
    justify-content: flex-end;
 }


form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-right:30px;
    margin-top:220px;
    width: 60%;
    /* border: 1px solid #fff; */
}

.form-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
   
}

.form-item label {
    font-family: 'Assistant', sans-serif;
    flex-basis: 100px;
    font-size: 15px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid white;
}

.form-item input,
.form-item textarea,
.form-item button {
    background-color: #FFF;
    padding: 5px;
    font-size: 12px;
    border: 2px solid white;
    font-family: 'Assistant', sans-serif;
    border-radius: 10px; 
}

.form-item button:hover {
    border: 2px solid white;
    background-color: #200077;
    color: #FFF;
}

.form-item-button {
    width: 100px;
    /* align-items: flex-end; */
}

.logo {
    height: 20px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    padding: 5px;
    /* margin-right:10px; */
    bottom: 30px;
   
}


#hero {
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; */
    /* display: flex;
    justify-content: center;
    border: 1px solid #fff;
    width: 200px;
    height: 370px; */
  
}

#external-links {
    position: fixed;
    bottom: 30px;
    right: 0;
    left: 50%;
}

/* #github-link {
    align-self: flex-start;
    align-content: center;
}

#linkedin-link {
    align-self: center;
    align-content: center;
} */

/* Media Queries */


@media (max-width: 600px) {
    /* #hero {
        display: flex;
        justify-content: flex-start;
    } */

    /* main {
        display:flex;
        justify-content: flex-start;
    }

    #hero {
        align-self: center;
    } */
    #header-text {
        /* position: relative; */
        /* top: 5%; */
        /* align-self: flex-start; */
        /* margin-left: 125%; */
        top: 8%;
        left: 35%;
        white-space: nowrap;
        /* text-align: center; */
    }

    #external-links {
        position: fixed;
        bottom: 30px;
        right: 0;
        left: 40%;
    }

    .form-item {
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5px;
    }

    form {
        justify-content: flex-end;
        flex-direction: flex-end;
        margin-right:175px;
        margin-top:220px;
      
    }
}