@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

header {
    display:flex;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;


} 

a {
    color: rgb(226, 225, 225);
    text-decoration: none;
    
}

a:hover {
  opacity: 1;
}

a::before {
  transition: 300ms;
  height: 1px;
  content: "";
  position: absolute;
  background-color: white;
}

a::before {
  height: 0%;
  width: 8px;
  bottom: 0px;
}

a:hover::before {
  height: 1px;
}
  
#background-video {
    width: 100vw;
    height: 110vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.wrapper {
    width: 100%;
    height: 110vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
 }

 section {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start
 }

 .two {
    height: 150vh;
    animation-delay: 3s;
 }

 #container {
    /* display:flex;
    justify-content: center;
    align-content: center; */
    /* position: absolute; */
    color: white;
    /* max-width: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

#name {

    align-self: center;
    font-size: 65px;
    white-space: nowrap;
    color: white;
    animation: 2s anim-lineUp ease 0s normal forwards 1 running;
    /* animation-fill-mode: forwards; */
    /* -webkit-animation-fill-mode: forwards; */
  }

  /* .lineUp {
    
  } */
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  #arrow {
    /* position: absolute; */
    /* top: 90%;
    left: 50%; */
    height: 20px;
    width: 15px;
    align-self: center;
    align-items:baseline;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    animation: 2s anim-lineUp ease 0s normal forwards 1 running;
    /* position: absolute;
    z-index: 2; */
    /* width: 200px; */
  }

  #profile-photo {
    height: 100px;
    width: 100px;
    align-self: center;
    align-content: space-around;
  }

  #bio {
    color:white;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* animation-delay: 10s; */
    /* animation: 2s anim-lineUp ease 0s normal forwards 1 running; */
    
  }

  

  /* #cloud {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* position: absolute;
    z-index: 2; */
    /* width: 200px; */
  /* } */

  /* #cloud2 {
    position: absolute;
    top: 44%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 300px */
    /* position: absolute;
    z-index: 2; */
    /* width: 200px; */
  /* } */

   /* .two {
    background-color: rgb(37, 65, 77);
 } */


/* #container { */
    /* display:flex;
    justify-content: center;
    align-content: center; */
    /* position: absolute; */
    /* color: white;
    max-width: 100%;
    position: relative;
  } */


/* #header-text{
    background-image: url('images/static-single-cloud-transparent.png');
} */

